@charset "UTF-8";

body {
  background-color: #f4f9ff;
  font-size: 0.875rem;
}

header img {
  width: 140px;
}

header {
  max-width: 1000px;
  margin: 0 auto;
}

.header-area {
  padding-top: 48px;
}

.main-wrapper {
  text-align: center;
}

.mainvisual {
  padding-top: 10px;
}

.index-area {
  max-width: 600px;
  margin: 0 auto;
  padding: 18px 0;
}

.index-wrapper {
  max-width: 1000px;
  background-color: #fff;
  margin: 70px auto;
}

.index-list li {
  margin-bottom: 20px;
}

.section-title {
  font-size: 1.125rem;
  font-weight: bold;
}

.index-area ol {
  margin: 0;
  padding-left: 0;
}

.detail-image {
  width: 270px;
  margin-right: 60px;
}

.detail-area{
    max-width: 600px;
    margin: 0 auto;
}

.content{
    display: flex;
    align-items: flex-start;
}

.content dl {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 0;
  margin-bottom: 25px;
}

.content dt{
  width: 70px;
  
}

 .content dd{ 
    width: calc(100% - 70px);
    margin: 0;
}


.title{
  font-weight: bold;
  font-size: 20px;
  margin-top: 0;
}

dl {
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
}

.link {
  color: #333;
}

.link:hover{
  opacity: 0.8;
}

.detail-wrapper{
  margin-bottom: 100px;
}

footer{
  max-width: 600px;
  margin: 0 auto;
  font-size: 0.625rem;
  padding: 15px 0;

}

@media (max-width: 600px) {

  /* 全体の余白をスマホ用に */

  body{
    margin: 0;
  }

  main{
    padding: 0;
  }

  .header-area{
    padding-top: 30px;
  }

  .header-logo{
    padding-left: 15px;
  }

  .main-wrapper{
    padding: 0 16px;
  }

  .detail-area,
  footer
  
  {
    padding: 0 40px;
  }

  .section-title{
    margin-top: 20px;
    display: inline-block;
  }

  /* DETAIL：横並び → 縦並び */
  .content {
    flex-direction: column;
  }

  /* 画像：横幅いっぱい、余白調整 */
  .detail-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 24px;
  }

  /* dl：幅調整（今の70pxはPC向けなのでスマホでは少し広げると読みやすい） */
  .content dt {
    width: 65px;
  }
  .content dd {
    width: calc(100% - 65px);
    margin: 0;
  }

  /* メインビジュアルがはみ出すなら保険 */
  .mainvisual {
    width: 100%;
    height: auto;
  }

  .title{
    font-size: 1.125rem;
  }

  dd{
    font-size: 13px;
  }

  .text2{
    font-size: 13px;
  }

  .index-area{
    padding: 20px 40px;
  }

  .index-list {
  list-style: none;   /* 標準の番号を消す */
  padding-left: 0;
  margin: 0;
}

.index-list li {
  display: grid;
  grid-template-columns: 1em 1fr; /* 左:番号 / 右:本文 */
  column-gap: 0.6em;
  margin-bottom: 20px;
}

.index-list li::before {
  counter-increment: index;
  content: counter(index) ".";
  text-align: right;
}
.index-list {
  counter-reset: index;
}


}

/* 明日はレスポンシブで余白を作るところから */
/* INDEX上の余白20px 0;で作ればおk */